In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataframe = pd.read_csv("/home/arpit/study/ML/github/kaggle/Titanic dataset/dataset/train.csv" , index_col = False)
dataframe = dataframe.drop(["PassengerId" , "Name" , "Ticket" , "Cabin"] , axis = 1)
dataframe.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male   NaN      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [3]:
dataframe.index

RangeIndex(start=0, stop=891, step=1)

In [4]:
dataframe.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [5]:
x , y = dataframe.shape                                  #total data points x = 418 
print(x , y)

891 8

In [6]:
dataframe.Survived.value_counts()                         #so this column is just perfect

0    549
1    342
Name: Survived, dtype: int64

In [7]:
dataframe.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
dataframe.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
#we are having the columns for which age is not mention
# so we can simply extrapolate these things
dataframe = dataframe.fillna(dataframe['Age'].median())
if (dataframe.Age.isnull().any()):
    print ("There are null values in the age")
else:
    print("No null values in age")

No null values in age

In [10]:
dataframe.SibSp.value_counts()           #no null values

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [11]:
dataframe.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [12]:
dataframe.Fare.isnull().any()           #this show we do not have empty slots in Fare

False

In [13]:
dataframe.Embarked.value_counts()

S       644
C       168
Q        77
28.0      2
Name: Embarked, dtype: int64

In [14]:
#now we are having all the entries so we are going to use the one hot encoding for the categorical features
dataframe['Pclass'] = dataframe['Pclass'].astype('str')
dataframe['Parch'] = dataframe['Parch'].astype('str')
dataframe['SibSp'] = dataframe['SibSp'].astype('str')

In [15]:

df = pd.get_dummies(dataframe , columns = ['Pclass' , "Sex" , "SibSp" , "Parch" , "Embarked"])
df.columns

Index(['Survived', 'Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3',
       'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2',
       'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_28.0',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [16]:
df.shape                        #because of the use of the categorical features the number of features is increases to 25

(891, 26)

In [17]:
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_28.0,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
#so now we are going to extract the value of the X and y
y = df['Survived'].values
print("Shape of y : " , y.shape)
print("Starting some element is : \n" , y[:10])

Shape of y :  (891,)
Starting some element is :
 [0 1 1 1 0 0 0 0 1 1]

In [19]:
X = df.loc[: , "Age" : "Embarked_S"].values
print("Shape of X is : " , X.shape)
print("Starting some element is : \n " , X[:2 , :])

Shape of X is :  (891, 25)
Starting some element is :
  [[22.      7.25    0.      0.      1.      0.      1.      0.      1.
   0.      0.      0.      0.      0.      1.      0.      0.      0.
   0.      0.      0.      0.      0.      0.      1.    ]
 [38.     71.2833  1.      0.      0.      1.      0.      0.      1.
   0.      0.      0.      0.      0.      1.      0.      0.      0.
   0.      0.      0.      0.      1.      0.      0.    ]]

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split (X , y , random_state = 0)

In [21]:
logreg = LogisticRegression()
logreg.fit(X_train , y_train)
print(logreg.intercept_)
print(logreg.coef_)

[0.11166154]
[[-0.03666599  0.00181087  0.89954197  0.1545266  -0.94240703  1.34187893
  -1.23021739  0.93006214  1.08454006  0.3377415  -0.9593326  -0.15637329
  -0.45247572 -0.67250057  0.21559552  0.56011358 -0.01643757  0.24672526
  -0.22075302 -0.3214556  -0.35212665  0.23784273  0.08839703  0.09918432
  -0.31376254]]

In [22]:
#this is the accuracy using the logistic regression
#this is not using any parameter tuning
print("Test score : " , logreg.score(X_test, y_test))

Test score :  0.8026905829596412

In [23]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(max_depth = 6)
model_tree.fit(X_train , y_train)
print("Score 'test' of tree regression is : " , model_tree.score(X_test,y_test))

Score 'test' of tree regression is :  0.8026905829596412

In [24]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 100 , random_state = 0)
random_forest.fit(X_train , y_train)
print("Train accuracy is : " , random_forest.score(X_train , y_train))
print("Test accuracy is :" , random_forest.score(X_test , y_test))

Train accuracy is :  0.9805389221556886
Test accuracy is : 0.8251121076233184

In [27]:
depth=[1,2,3,4,5,6,7,8,9,10]

for i in depth:
    rf=RandomForestClassifier(n_estimators=100,max_depth=i,random_state=0)
    rf.fit(X_train,y_train)
    print(i,rf.score(X_train,y_train),rf.score(X_test,y_test))

1 0.7679640718562875 0.7937219730941704
2 0.7874251497005988 0.7847533632286996
3 0.8038922155688623 0.7802690582959642
4 0.8353293413173652 0.8026905829596412
5 0.8502994011976048 0.8116591928251121
6 0.8562874251497006 0.8295964125560538
7 0.8712574850299402 0.8251121076233184
8 0.905688622754491 0.820627802690583
9 0.9221556886227545 0.8251121076233184
10 0.938622754491018 0.820627802690583

In [30]:
x=[0.01,0.03,0.09,0.1,0.3,0.6,1 ,2,3, 6 ,10]
for i in x:
    reg = LogisticRegression(C = i)
    reg.fit(X_train , y_train)
    print(i , reg.score(X_train , y_train) , reg.score(X_test , y_test))

0.01 0.7574850299401198 0.7892376681614349
0.03 0.7994011976047904 0.7802690582959642
0.09 0.8053892215568862 0.7892376681614349
0.1 0.8083832335329342 0.7892376681614349
0.3 0.8188622754491018 0.8071748878923767
0.6 0.8173652694610778 0.8071748878923767
1 0.8173652694610778 0.8026905829596412
2 0.8173652694610778 0.8026905829596412
3 0.8173652694610778 0.8026905829596412
6 0.8158682634730539 0.8026905829596412
10 0.8143712574850299 0.8026905829596412

In [31]:
rf=RandomForestClassifier(n_estimators=100,max_depth=6,random_state=0)
rf.fit(X_train,y_train)
print(i,rf.score(X_train,y_train),rf.score(X_test,y_test))

10 0.8562874251497006 0.8295964125560538

In [36]:
dataframe2 = pd.read_csv("/home/arpit/study/ML/github/kaggle/Titanic dataset/dataset/test.csv" , index_col = False)
dataframe2.drop(["PassengerId" , "Name" , "Ticket" , "Cabin"] , axis = 1,inplace=True)
dataframe2 = dataframe2.fillna(dataframe2['Age'].median())
dataframe2['Pclass'] = dataframe2['Pclass'].astype('str')
dataframe2['Parch'] = dataframe2['Parch'].astype('str')
dataframe2['SibSp'] = dataframe2['SibSp'].astype('str')
df2 = pd.get_dummies(dataframe2 , columns = ['Pclass' , "Sex" , "SibSp" , "Parch" , "Embarked"])
#df2.columns
df2.shape

(418, 25)

In [37]:
df2.columns

Index(['Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female',
       'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4',
       'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3',
       'Parch_4', 'Parch_5', 'Parch_6', 'Parch_9', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [38]:
X_test2 = df2.loc[: , :].values

In [39]:
y_ans = rf.predict(X_test2)

In [44]:
y_ans.shape
y_ans[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [41]:
pd_ans = pd.read_csv("/home/arpit/study/ML/github/kaggle/Titanic dataset/dataset/gender_submission.csv")
pd_ans.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [43]:
pd_ans['Survived'] = y_ans
pd_ans.head(10)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [46]:
pd_ans.to_csv("/home/arpit/study/ML/github/kaggle/Titanic dataset/dataset/first_try.csv",index=False)
print("Done")

Done