In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dataframe = pd.read_csv("/home/arpit/study/ML/github/kaggle/Titanic dataset/dataset/train.csv" , index_col = False)
dataframe = dataframe.drop(["PassengerId" , "Name" , "Ticket" , "Cabin"] , axis = 1)
dataframe.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male   NaN      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [4]:
dataframe.index

RangeIndex(start=0, stop=891, step=1)

In [5]:
dataframe.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [6]:
x , y = dataframe.shape                                  #total data points x = 418 
print(x , y)

891 8

In [11]:
dataframe.Survived.value_counts()                         #so this column is just perfect

0    549
1    342
Name: Survived, dtype: int64

In [12]:
dataframe.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [13]:
dataframe.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [28]:
#we are having the columns for which age is not mention
# so we can simply extrapolate these things
dataframe = dataframe.fillna(method="ffill")
if (dataframe.Age.isnull().any()):
    print ("There are null values in the age")
else:
    print("No null values in age")

No null values in age

In [29]:
dataframe.SibSp.value_counts()           #no null values

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [30]:
dataframe.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [32]:
dataframe.Fare.isnull().any()           #this show we do not have empty slots in Fare

False

In [33]:
dataframe.Embarked.value_counts()

S    644
C    169
Q     78
Name: Embarked, dtype: int64

In [49]:
#now we are having all the entries so we are going to use the one hot encoding for the categorical features
dataframe['Pclass'] = dataframe['Pclass'].astype('str')
dataframe['Parch'] = dataframe['Parch'].astype('str')
dataframe['SibSp'] = dataframe['SibSp'].astype('str')

In [50]:

df = pd.get_dummies(dataframe , columns = ['Pclass' , "Sex" , "SibSp" , "Parch" , "Embarked"])
df.columns

Index(['Survived', 'Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3',
       'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2',
       'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [52]:
df.shape                        #because of the use of the categorical features the number of features is increases to 25

(891, 25)

In [56]:
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [96]:
#so now we are going to extract the value of the X and y
y = df['Survived'].values
print("Shape of y : " , y.shape)
print("Starting some element is : \n" , y[:10])

Shape of y :  (891,)
Starting some element is :
 [0 1 1 1 0 0 0 0 1 1]

In [97]:
X = df.loc[: , "Age" : "Embarked_S"].values
print("Shape of X is : " , X.shape)
print("Starting some element is : \n " , X[:2 , :])

Shape of X is :  (891, 24)
Starting some element is :
  [[22.      7.25    0.      0.      1.      0.      1.      0.      1.
   0.      0.      0.      0.      0.      1.      0.      0.      0.
   0.      0.      0.      0.      0.      1.    ]
 [38.     71.2833  1.      0.      0.      1.      0.      0.      1.
   0.      0.      0.      0.      0.      1.      0.      0.      0.
   0.      0.      0.      1.      0.      0.    ]]

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split (X , y , random_state = 0)

In [107]:
logreg = LogisticRegression()
logreg.fit(X_train , y_train)
print(logreg.intercept_)
print(logreg.coef_)

[0.03135392]
[[-0.0332445   0.00218346  0.84844389  0.12702717 -0.94411714  1.31857162
  -1.2872177   0.92309573  1.07721192  0.31030064 -1.01908044 -0.14187695
  -0.45703426 -0.66126273  0.21822778  0.54909196  0.01022322  0.2332411
  -0.24573251 -0.3586579  -0.37503972  0.10095425  0.20772919 -0.27732953]]

In [108]:
#this is the accuracy using the logistic regression
#this is not using any parameter tuning
print("Test score : " , logreg.score(X_test, y_test))

Test score :  0.8026905829596412

In [109]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(max_depth = 6)
model_tree.fit(X_train , y_train)
print("Score 'test' of tree regression is : " , model_tree.score(X_test,y_test))

Score 'test' of tree regression is :  0.7982062780269058

In [110]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 100 , random_state = 0)
random_forest.fit(X_train , y_train)
print("Train accuracy is : " , random_forest.score(X_train , y_train))
print("Test accuracy is :" , random_forest.score(X_test , y_test))

Train accuracy is :  0.9865269461077845
Test accuracy is : 0.7982062780269058